/* fonts */
@font-face {
  /* Типографика */
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('MontserratRegular'), local('Montserrat-Regular'),
     url(../fonts/montserrat-regular-webfont.woff) format('woff'),
     url(../fonts/montserrat-regular-webfont.woff2) format('woff2');
  }
  
  @font-face {
    /* Типографика */
      font-family: 'Montserrat';
      font-display: swap;
      font-style: normal;
      font-weight: 600;
      src: local('MontserratSemibold'), local('Montserrat-Semibold'),
       url(../fonts/montserrat-semibold-webfont.woff) format('woff'),
       url(../fonts/montserrat-semibold-webfont.woff2) format('woff2')
  }
  
  @font-face {
    /* Типографика */
      font-family: 'Montserrat';
      font-display: swap;
      font-style: normal;
      font-weight: 700;
      src: local('MontserratBold'), local('Montserrat-Bold'),
       url(../fonts/montserrat-bold-webfont.woff) format('woff'),
       url(../fonts/montserrat-bold-webfont.woff2) format('woff2')
  }
  
  @font-face {
    /* Типографика */
      font-family: 'Montserrat';
      font-display: swap;
      font-style: normal;
      font-weight: 800;
      src: local('MontserratExtrabold'), local('Montserrat-Extrabold'),
       url(../fonts/montserrat-extrabold-webfont.woff) format('woff'),
       url(../fonts/montserrat-extrabold-webfont.woff2) format('woff2')
  }
  
  /* common specification */
  * {
    box-sizing: border-box;
  }
  
  :root {
    /* Оформление */
    --black-color: #333333;
    --orange-color: #FF9900;
    --white-color: #ffffff;
    --color-grey: #cacaca;
    --color-white: #ececec;
    --color-dark: #222222;
    --color-grey: #414141;
    --color-orange: #e1670e;
    --color-dove: #666666;
    --color-black: #000000;
  }

  body {
    min-width: 320px;
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .visually-hidden {
    /* позиционирование */
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  .list-reset {
    /* позиционирование */
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .site-heading {
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 49px;
    /* Оформление */
    color: var(--black-color);
  }
  
  .burger {
    display: none;
  }
  
  .btn-reset {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
  }
  
  .swiper-pagination-bullet-active {
    /* Оформление */
    background-color: var(--white-color);
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    /* позиционирование */
    margin: 0 10px;
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 27px;
  }
  
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    /* Оформление */
    background-color: var(--white-color);
  }
  
  
  .site-btn {
    font-weight: 700;
    border: none;
    cursor: pointer;
    /* Оформление */
    background: var(--orange-color);
    color: var(--white-color);
  }
  
  .site-btn:hover {
    transition: opacity .3s ease-in-out;
    opacity: 0.7;
  }
  
  .site-btn:focus {
    transition: opacity .3s ease-in-out;
    opacity: 0.7;
  }

  .site-btn:active {
    /* Оформление */
    background: var(--color-orange);
    transition: opacity .3s ease-in-out;
    opacity: 0.7;
  }
  
  .container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* header */
  .header {
    width: 100%;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }
  
  .header__container {
    position: relative;
    height: 100px;
    /* Блочная модель */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* позиционирование */
    margin-bottom: 50px;
  }
  
  .header__inner {
    /* Блочная модель */
    display: flex;
    align-items: center;
  }
  
  .header__logo:focus {
    /* Оформление */
    outline: 2px solid var(--orange-color);
  }
  
  .nav__list {
    /* Блочная модель */
    display: flex;
    align-items: center;
  }
  
  .nav__item:not(:last-child) {
    /* позиционирование */
    margin-right: 85px;
  }
  
  .nav__item:last-child {
    /* позиционирование */
    margin-right: 260px;
  }
  
  .nav__link {
    font-weight: 600;
    font-size: 18px;
    border: 2px solid transparent;
    outline: none;
    transition: .3s ease-in-out;
    /* Оформление */
    color: var(--black-color);
  }
  
  .nav__link:hover {
    transition: .3s ease-in-out;
    /* Оформление */
    border-bottom-color: var(--orange-color);
  }
  
  .nav__link:focus {
    /* Оформление */
    transition: .3s ease-in-out;
    border-color: var(--orange-color);
  }
  
  .nav__link:active {
    /* Оформление */
    color: var(--color-orange);
    border-color: transparent;
    border-bottom-color: var(--color-orange);
  }
  
  .menu-close {
    display: none;
  }
  
  .search {
    width: 26px;
    height: 26px;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    background-color: transparent;
  }

  .search::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 110%;
    height: 110%;
    border: 2px solid transparent;
  }
  
  .search:focus::before {
    /* Оформление */
    border-color: var(--orange-color);
  }
  
  .search__svg svg rect {
    transition: react .3s ease;
    fill: var(--black-color);
  }
  
  .search__svg svg {
    transition: stroke .3s ease;
    stroke: var(--black-color);
  }
  
  .search:hover .search__svg svg {
    transition: stroke .3s ease;
    /* Оформление */
    stroke: var(--orange-color);
  }
  
  .search:hover .search__svg svg rect {
    transition: react .3s ease;
    /* Оформление */
    fill: var(--orange-color);
  }

  .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: -100px;
    right: 0;
    opacity: 0;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    transition: top .5s, opacity .5s;
  }

  .search-form_show {
    top: 20px;
    opacity: 1;
  }

  .search-form__input {
    padding: 8px 14px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid orange;
  }

  .search-form__input:focus {
    outline: none;
    border-color: #CACACA;;
  }

  .search-form__send svg {
    stroke: #FF9900;
  }

  .search-form__send:hover svg{
    stroke: #FF9900;
    transition: stroke, 0.3s ease-in-out;
  }

  .search-form__send:focus svg{
    stroke: #000000;
    transition: stroke, 0.3s ease-in-out;
  }

  .search-form__send:active svg{
    stroke: #FF9900;
    transition: stroke, 0.3s ease-in-out;
  }


  /* services */
  
  .services {
    height: 620px;
  }
  
  .services__container {
    height: 100%;
    overflow: hidden;
  }
  
  .swiper-container {
    height: 100%;
    width: 100%;
  }
  
  .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 32px;
    width: 1770px;
  }
  
  .services-content {
    max-width: 840px;
    /* Блочная модель */
    position: absolute;
    top: 106px;
    left: 78px;
    z-index: 100;
  }
  
  .services-content__heading {
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    margin: 0;
    line-height: 85px;
    margin-bottom: 18px;
    /* Оформление */
    color: var(--white-color);
  }
  
  .services-content__text {
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    /* Блочная модель */
    margin: 0;
    margin-bottom: 89px;
    /* Оформление */
    color: var(--white-color);
  }
  
  .services-content__btn {
    outline: none;
    padding: 27px 50px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
    border-radius: 16px;
  }
  
  /* adwantages*/
  .adwantages {
    /* позиционирование */
    padding-top: 54px;
    padding-bottom: 20px;
  }
  
  .adwantages__heading {
    /* позиционирование */
    margin: 0;
    margin-bottom: 21px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 53px;
    line-height: 58px;
    /* Оформление */
    color: var(--black-color);
  }
  
  .adwantages__text {
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    /* позиционирование */
    margin: 0;
    margin-bottom: 48px;
    max-width: 1235px;
    /* Оформление */
    color: var(--black-color);
  }
  
  .adwantages__tooltip {
    /* Блочная модель */
    display: inline-block;
    padding-left: 5px;
    width: 16px;
    height: 16px;
  }
  
  .adwantages-content {
    /* Блочная модель */
    display: flex;
    justify-content: space-between;
  }
  
  .adwantages-content__left {
    background-image: url('../img/adwantages-bg.jpg');
    margin-right: 10px;
    max-width: 870px;
    /* Блочная модель */
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 32px;
  }
  
  .adwantages-left__inner {
    padding: 37px 54px 33px 54px;
    /* Блочная модель */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Оформление */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
  }
  
  .adwantages-left__text {
    /* позиционирование */
    margin-right: 160px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* Оформление */
    color: var(--white-color);
  }

  .adwantages-left__btn {
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 20px;
    /* Блочная модель */
    text-align: center;
    padding: 19px 38px;
    font-weight: 700;
    transition: all .3s ease-in-out;
    outline: none;
    /* Оформление */
    border: 3px solid var(--orange-color);
    color: var(--white-color);
    border-radius: 16px;
  }
  
  .adwantages-left__btn:hover {
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--orange-color);
  }
  
  .adwantages-left__btn:focus {
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--orange-color);
  }
  
  .adwantages-left__btn:active {
    transition: all .3s ease-in-out;
    /* Оформление */
    border-color: var(--color-orange);
    background-color: var(--color-orange);
  }
  
  .adwantages-content__right {
    max-width: 870px;
  }
  
  .adwantages-top__item {
    background-image: url('../img/about-icon-1.svg');
    background-position: left 62px top 54px;
    background-repeat: no-repeat;
    padding: 65px 120px 65px 315px;
    height: 295px;
    /* Оформление */
    border: 1px solid var(--color-grey);
    border-radius: 32px;
  }

  .adwantages-top__item:first-child {
    margin-bottom: 30px;
    background-position: left 59px top 63px;
  }

  .adwantages-right__item {
    background-image: url('../img/about-icon-2.svg');
    background-position: left 59px top 65px;
    background-repeat: no-repeat;
    padding: 65px 120px 65px 300px;
    height: 295px;
    /* Оформление */
    border: 1px solid var(--color-grey);
    border-radius: 32px;
  }
  
  .adwantages-right__item:first-child {
    margin-bottom: 30px;
    background-position: left 62px top 70px;
  }
  
  .adwantages-right__title {
    /* позиционирование */
    margin: 0;
    margin-bottom: 8px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    /* Оформление */
    color: #000000;
  }
  
  .adwantages-right__text {
    /* позиционирование */
    margin: 0;
    width: 450px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* Оформление */
    color: #000000;
  }
  
  /* templates */
  .templates {
    /* позиционирование */
    padding-top: 84px;
  }
  
  .templates__headeing {
    /* позиционирование */
    margin: 0;
    margin-bottom: 56px;
  }
  
  .templates__list {
    /* Блочная модель */
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .templates__item:not(:last-child) {
    /* позиционирование */
    margin-right: 90px;
  }
  
  .templates__btn {
    font-size: 18px;
    position: relative;
    outline: none;
    /* Оформление */
    color: var(--black-color);
  }
  
  .templates__btn::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -4px;
    width: 110%;
    height: 100%;
    transition: border-color .3s ease-in-out;
    border: 2px solid transparent;
  }
  
  .templates__btn:focus::before {
    transition: border-color .3s ease-in-out;
    /* Оформление */
    border-color: var(--orange-color);
  }
  
  .templates__btn:hover {
    transition: color .3s ease-in-out;
    /* Оформление */
    color: var(--orange-color);
  }
  
  .templates__btn--default {
    /* Оформление */
    color: var(--orange-color);
  }
  
  .templates__btn:active::before {
    border-color: transparent;
  }
  
  .templates__btn:active {
    transition: color .3s ease-in-out;
    /* Оформление */
    color: var(--color-orange);
  }
  
  .templates__content {
    /* Блочная модель */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .templates-left {
    width: 50%;
    min-height: 471px;
    /* Блочная модель */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .templates-left__title {
    margin: 0;
    /* Оформление */
    color: var(--black-color);
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 25px;
  }
  
  .templates-left__text {
    /* позиционирование */
    margin: 0;
    margin-bottom: 10px;
    /* Оформление */
    color: var(--black-color);
    max-width: 758px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 41px;
  }
  
  .templates-left__btns {
    /* Блочная модель */
    display: flex;
    align-items: center;
  }
  
  .templates-left__btn {
    transition: opacity .3s ease-in-out;
    outline: none;
    padding: 20px 38px;
    border-radius: 16px;
  }
  
  .templates-left__btn:first-child {
    /* позиционирование */
    margin-right: 47px;
  }
  
  .templates-left__btn--border {
    background-color: transparent;
    transition:
    background-color .3s ease-in-out,
    color .3s ease-in-out,
    border-color .3s ease-in-out;
    /* Оформление */
    border: 1px solid var(--black-color);
  }
  
  .templates-left__btn--border:hover {
    transition:
    background-color .3s ease-in-out,
    color .3s ease-in-out,
    border-color .3s ease-in-out;
    /* Оформление */
    border-color: var(--color-dove);
    background-color: var(--color-dove);
    color: var(--white-color);
  }
  
  .templates-left__btn--border:focus {
    transition:
    background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
    /* Оформление */
    border-color: var(--color-dove);
    background-color: var(--color-dove);
    color: var(--white-color);
  }
  
  .templates-left__btn--border:active {
    transition:background-color .3s ease-in-out, color .3s ease-in-out;
    /* Оформление */
    background-color: #000000;
    color: var(--white-color);
  }
  
  .templates-right {
    /* позиционирование */
    padding-top: 6px;
    width: 49%;
    height: 100%;
  }
  
  .templates-right__img {
    width: 100%;
    object-fit: cover;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content--active {
    /* Блочная модель */
    display: flex;
  }
  
  /* page */
  
  .page {
    /* позиционирование */
    padding-top: 60px;
    padding-bottom: 102px;
  }
  
  .page__accordion {
    border-bottom: 1px solid var(--color-grey);
  }
  
  .page__wrapper {
    position: relative;
    outline: none;
    cursor: pointer;
    padding: 41px 0;
    transition: border-color .3s ease-in-out;
    border-top: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: -1px;
  }
  
  .page__wrapper:hover .accordion-icon {
    /* Анимации */
    transition: background-color .3s ease-in-out, background-image .3s ease-in-out, transform .3s ease-in-out;
    background-color: var(--orange-color);
    background-image: url('../img/white-plus.svg');
  }
  
  .ui-state-hover {
    /* Анимации */
    transition: border-color .3s ease-in-out;
    border-color: var(--orange-color);
    z-index: 10;
  }
  
  .ui-state-focus {
    /* Анимации */
    transition: border-color .3s ease-in-out;
    border-color: var(--orange-color);
    z-index: 10;
  }
  
  .ui-state-focus .accordion-icon {
    /* Анимации */
    transition: background-color .3s ease-in-out, background-image .3s ease-in-out, transform .3s ease-in-out;
    background-color: var(--orange-color);
    background-image: url('../img/white-plus.svg');
  }
  
  .page__title {
    outline: none;
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 27px;
  }

  .page__title:hover {
    transition: color .3s ease-in-out;
    color: #FF9900;
  }

  .page__title:focus {
    transition: color .3s ease-in-out;
    color: #FF9900;
  }

  .page__title:active {
    transition: color .3s ease-in-out;
    color: #000000;
  }
  
  .page__title:focus::before {
    border-color: var(--orange-color);
  }
  
  .ui-accordion-content {
    min-height: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--orange-color);
    margin-bottom: -1px;
  }
  
  .accordion-icon {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    border-radius: 100%;
    background-image: url("../img/accordon-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* Анимации */
    transition: background-color .3s ease-in-out, background-image .3s ease-in-out, transform .3s ease-in-out;
    background-color: var(--color-white);
  }
  
  .ui-state-active .accordion-icon {
    /* Анимации */
    transform: rotate(45deg);
    transition: transform .3s ease-in-out;
  }
  
  .page__descr {
    line-height: 32px;
    font-size: 16px;
    max-width: 1003px;
    margin: 0;
  }
  
  .page__descr:first-child {
    /* позиционирование */
    margin-bottom: 40px;
  }
  
  /* footer */
  
  .footer {
    padding-top: 48px;
    padding-bottom: 20px;
    background-color: var(--color-black);
  }
  
  .footer__container {
    /* Блочная модель */
    display: flex;
    align-items: flex-start;
  }
  
  .footer-left {
    width: 34%;
  }
  
  .footer__logo {
    display: block;
    margin-bottom: 24px;
  }
  
  .footer-right {
    /* Блочная модель */
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    display: flex;
    width: 66%;
  }
  
  .footer__form {
    /* Блочная модель */
    display: flex;
    flex-direction: column;
  }
  
  .footer__list {
    margin-bottom: 100px;
  }
  
  .footer__item:not(:last-child) {
    margin-bottom: 12px;
  }
  
  .footer__link {
    font-weight: 600;
    font-size: 20px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    outline: none;
    position: relative;
    transition: color .3s ease-in-out;
    color: #cacaca;
  }
  
  .footer__link::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -5px;
    width: 110%;
    height: 110%;
    border: 2px solid transparent;
  }
  
  .footer__link:focus::before {
    transition: border-color .3s ease-in-out;
    /* Оформление */
    border-color: var(--orange-color);
  }
  
  .footer__link:hover {
    transition: color .3s ease-in-out;
    /* Оформление */
    color: var(--orange-color)
  }
  
  .footer__link:active {
    transition: color .3s ease-in-out;
    /* Оформление */
    color: var(--color-orange)
  }
  
  .footer__social {
    /* Блочная модель */
    display: flex;
    align-items: center;
  }
  
  .footer__icon {
    width: 60px;
    height: 60px;
    position: relative;
    outline: none;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .footer__icon::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 110%;
    height: 110%;
    border: 2px solid transparent;
  }
  
  .footer__icon:focus::before {
    border-color: var(--orange-color);
  }
  
  .footer__icon svg {
    transition: fill .3s ease-in-out;
    /* Оформление */
    fill: #7c7c7c;
  }
  
  .footer__icon:hover svg {
    transition: fill .3s ease-in-out;
    /* Оформление */
    fill: var(--orange-color);
  }  
  
  .footer__icon:focus svg {
    transition: fill .3s ease-in-out;
    fill: #666666;
  }
  
  .footer__icon:active svg {
    transition: fill 0.3s ease-in-out;
    /* Оформление */
    fill: var(--color-orange);
  }


  
  .footer__icon:not(:last-child){
    /* позиционирование */
    margin-right: 25px;
  }
  
  .footer__title {
    /* позиционирование */
    margin: 0;
    margin-bottom: 32px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 53px;
    line-height: 42px;
    /* Оформление */
    color: #cacaca;
  }
  
  .footer-wrapper {
    min-width: 570px;
  }
  
  .form__input {
    border: none;
    padding-left: 24px;
    outline: none;
    height: 60px;
    margin-bottom: 25px;
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--color-grey);
    border-radius: 16px;
    /* Типографика */
    color: #CACACA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
  
  .form__input::placeholder {
    /* Оформление */
    color: #cacaca;
  }
  
  .form__input:hover {
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--color-dove);
  }
  
  .form__input:focus {
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--color-dove);
  }
  
  .form__input:active {
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--color-dove);
  }
  
  .form__area {
    border: none;
    outline: none;
    padding-left: 24px;
    padding-top: 21px;
    height: 150px;
    resize: none;
    margin-bottom: 32px;
    max-width: 100%;
    background-color: var(--color-grey);
    border-radius: 16px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  
  .form__area:hover {
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--color-dove);
  }
  
  .form__area:focus {
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--color-dove);
  }
  
  .form__area:active {
    transition: background-color .3s ease-in-out;
    /* Оформление */
    background-color: var(--color-dove);
  }
  
  .form__area::placeholder {
    /* Оформление */
    color: #cacaca;
  }
  
  .form__btn {
    margin-right: 17px;
    outline: none;
    padding: 19px 58px;
    /* Оформление */
    transition: opacity .3s ease-in-out;
    border-radius: 16px;
  }
  
  .checkbox {
    position: absolute;
    /* Оформление */
    opacity: 0;
  }
  
  .checkbox-text {
    /* Блочная модель */
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    padding-left: 18px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    /* Оформление */
    color: #cacaca;
  }
  
  .checkbox-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-grey);
  }
  
  .checkbox-text::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    opacity: 0;
    background-image: url('../img/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
  }
  
  .checkbox:checked+.checkbox-text::after {
    /* Оформление */
    opacity: 1;
  }
  
  .checkbox:focus+.checkbox-text {
    outline: 3px solid var(--orange-color);
  }
  
  .footer__text {
    max-width: 356px;
    /* Типографика */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* Оформление */
    color: #cacaca;
  }
